<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Success</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jQuery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <style>
        div{
            width: 700px;
            height: 100px;
            /* background-color: rgb(193, 213, 235) ; */
            font-size: 30px;
            color: darkolivegreen;
            margin: 100px auto;
            text-align: center;
        }
        body{
            background-color: rgb(199, 245, 199);
        }
      
    </style>
</head>
<body>
   
    <div>
    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2799094928,783388715&fm=26&gp=0.jpg" alt="" style="width: 120px;height: 200px;">
        <%= tip %>
    </div>
    
        
     
</body>
<script>
    setTimeout( 'window.location.href= "<%= path %>" ',3000)
</script>
</html>